<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no" />

<link rel="icon" type="image/png" th:href="@{/assets/img/favicon-16x16.png}" sizes="16x16">
<link rel="icon" type="image/png" th:href="@{/assets/img/favicon-32x32.png}" sizes="32x32">

<title>首页</title>

<!-- uikit -->
<link rel="stylesheet" th:href="@{/bower_components/uikit/css/uikit.almost-flat.min.css}" media="all">

<!-- altair admin -->
<link rel="stylesheet" th:href="@{/assets/uikit/css/main.min.css}" media="all">

<!-- matchMedia polyfill for testing media queries in JS -->
<!--[if lte IE 9]>
        <script type="text/javascript" th:src="@{/bower_components/matchMedia/matchMedia.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/matchMedia/matchMedia.addListener.js}"></script>
        <link rel="stylesheet" th:href="@{/assets/uikit/css/ie.css}" media="all">
    <![endif]-->
</head>

<body class="disable_transitions sidebar_main_swipe">
	<!-- main header -->
	<div th:replace="/layout/header :: main"></div>
	<!-- main header end -->
	<!-- main sidebar -->
	<div th:replace="/layout/sidebar :: main('')"></div>
	<!-- main sidebar end -->

	<div id="page_content">
		<div id="page_content_inner">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-3-4">
					<h3 class="heading_b uk-margin-bottom">文章</h3>

					<div class="blog_list uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid="{gutter: 24}"></div>
				</div>
				<div class="uk-width-medium-1-4">
					<h5 class="uk-margin-small-bottom uk-text-upper">最新提交</h5>
					<ul class="md-list uk-margin-remove">
						<li th:each="post:${recentPosts}">
							<div class="md-list-content">
								<span class="md-list-heading uk-text-truncate"> <a th:href="@{/p/}+${post.id}" th:text="${post.title}">title</a></span>
								<span class="uk-text-small uk-text-muted" th:text="${#dates.format(post.publishedDate, 'yyyy-MM-dd HH:mm:ss')}">date</span>
							</div>
						</li>
					</ul>
					<h5 class="uk-margin-small-bottom uk-text-upper  uk-margin-large">标签</h5>
					<div class="blog_tags">
						<a href="javascript:;" class="uk-badge" th:each="tag:${tags}" th:text="${tag.name}">tag name</a>
					</div>
					<h5 class="uk-margin-small-bottom uk-text-upper uk-margin-large">作者排名</h5>
					<ul class="md-list md-list-addon uk-margin-remove">
						<li th:each="author:${authors}">
							<div class="md-list-addon-element">
								<img class="md-user-image md-list-addon-avatar" th:src="${author.avatar}" />
							</div>
							<div class="md-list-content">
								<span class="md-list-heading" th:text="${author.name}">name</span> <span class="uk-text-small uk-text-muted">
									<span class="uk-margin-small-right"><i class="material-icons md-color-red-600">&#xE87D;</i> <small>30</small></span>
									<span><i class="material-icons">&#xE0B9;</i> <small>284</small></span>
								</span>
							</div>
						</li>
					</ul>
					<h5 class="uk-margin-small-bottom uk-text-upper uk-margin-large">分类</h5>
					<ul class="md-list uk-margin-remove">
						<li th:each="category:${categories}">
							<div class="md-list-content">
								<span class="md-list-heading"> <a href="javascript:;" th:text="${category.name}">catgory</a>
								</span> <span class="uk-text-small uk-text-muted">23 posts</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="/layout/footer :: main"></div>

	<script type="text/javascript" th:inline="javascript">
		var base = /*[[${#httpServletRequest.getContextPath()}]]*/"";
	</script>

	<!-- common functions -->
	<script th:src="@{/assets/uikit/js/common.min.js}"></script>
	<!-- uikit functions -->
	<script th:src="@{/assets/uikit/js/uikit_custom.min.js}"></script>
	<!-- altair common functions/helpers -->
	<script th:src="@{/assets/uikit/js/altair_admin_common.min.js}"></script>

	<script>
		$(function() {
			if (Modernizr.touch) {
				// fastClick (touch devices)
				FastClick.attach(document.body);
			}
		});
		$window.load(function() {
			// ie fixes
			altair_helpers.ie_fix();

			loadArticles(1);
		});

		var formatDate = function(date, fmt) {
			if(!date) {
				return "";
			}
			
			date = new Date(date);
			var o = { 
				    "M+" : date.getMonth()+1,                 // 月份
				    "d+" : date.getDate(),                    // 日
				    "h+" : date.getHours(),                   // 小时
				    "m+" : date.getMinutes(),                 // 分
				    "s+" : date.getSeconds(),                 // 秒
				    "q+" : Math.floor((date.getMonth()+3)/3), // 季度
				    "S"  : date.getMilliseconds()             // 毫秒
				  }; 
				  if(/(y+)/.test(fmt)) 
				    fmt=fmt.replace(RegExp.$1, (date.getFullYear()+"").substr(4 - RegExp.$1.length)); 
				  for(var k in o) 
				    if(new RegExp("("+ k +")").test(fmt)) 
				  fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length))); 
				  return fmt; 
		}
		var createArticleHtml = function(article) {
			var $div = $("<div />");
			var $divCard = $("<div class=\"md-card\" />");
			var $divCardContent = $("<div class=\"md-card-content small-padding\" />");
			var $divTeaser = $("<div class=\"blog_list_teaser\" />");
			var $h2Teaser = $("<h2 class=\"blog_list_teaser_title uk-text-truncate\">" + article.title + "</h2>");
			var $pTeaser = $("<p>" + article.summary + "</p>");
			var $spanTeaser = $("<span class=\"uk-text-muted uk-text-small\">"+formatDate(article.publishedDate, "yyyy-MM-dd hh:mm:ss")+"</span>");
			var $divFooter = $("<div class=\"blog_list_footer\" />");
			var $divFooterInfo = $("<div class=\"blog_list_footer_info\" />");
			var $spanCollect = $("<span class=\"uk-margin-right\"><i class=\"material-icons\">&#xE87D;</i> <small>" + article.collectCount
					+ "</small></span>");
			var $spanComment = $("<span><i class=\"material-icons\">&#xE0B9;</i> <small>" + article.commentCount + "</small></span>");
			var $linkFooterInfo = $("<a href=\""+base+"/p/"+article.id+"\" class=\"md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right\"> 查 看 </a>");
			$div.append($divCard);
			$divCard.append($divCardContent);
			if (article.thumbnail || article.thumbnail != "") {
				var $img = $("<img class=\"blog_list_teaser_image\" />");
				$img.attr("src", article.thumbnail);
				$divCardContent.append($img);
			}
			$divCardContent.append($divTeaser);
			$divCardContent.append($divFooter);
			$divTeaser.append($h2Teaser);
			$divTeaser.append($pTeaser);
			$divTeaser.append($spanTeaser);
			$divFooter.append($divFooterInfo);
			$divFooter.append($linkFooterInfo);
			$divFooterInfo.append($spanCollect);
			$divFooterInfo.append($spanComment);
			return $div;
		}

		var $blogList = $(".blog_list");
		var loadArticles = function(page) {
			$.post(base + "/p", {
				page : page
			}, function(resp) {
				$.each(resp.rows, function(i, row) {
					$blogList.append(createArticleHtml(row));
				});
			})
		}
	</script>
</body>
</html>
