<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<!--[if lte IE 9]> <html class="lte-ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no" />

<link rel="icon" type="image/png" th:href="@{/assets/img/logo-16x16.png}" sizes="16x16">
<link rel="icon" type="image/png" th:href="@{/assets/img/logo-32x32.png}" sizes="32x32">

<title>首页</title>

<!-- uikit -->
<link rel="stylesheet" th:href="@{/bower_components/uikit/css/uikit.almost-flat.min.css}" media="all">

<!-- altair admin -->
<link rel="stylesheet" th:href="@{/assets/uikit/css/main.min.css}" media="all">

<!-- matchMedia polyfill for testing media queries in JS -->
<!--[if lte IE 9]>
        <script type="text/javascript" th:src="@{/bower_components/matchMedia/matchMedia.js}"></script>
        <script type="text/javascript" th:src="@{/bower_components/matchMedia/matchMedia.addListener.js}"></script>
        <link rel="stylesheet" th:href="@{/assets/uikit/css/ie.css}" media="all">
    <![endif]-->
</head>

<body class="disable_transitions sidebar_main_swipe">
	<!-- main header -->
	<div th:replace="/layout/header :: main"></div>
	<!-- main header end -->
	<!-- main sidebar -->
	<div th:replace="/layout/sidebar :: main('')"></div>
	<!-- main sidebar end -->

	<div id="page_content">
		<div id="page_content_inner">
			<div class="uk-grid" data-uk-grid-margin>
				<div class="uk-width-medium-3-4">
					<h3 class="heading_b uk-margin-bottom">文章</h3>

					<div class="blog_list uk-grid-width-medium-1-2 uk-grid-width-large-1-3" data-uk-grid="{gutter: 24}">

						<div th:each="post:${posts.content}">
							<div class="md-card">
								<div class="md-card-content small-padding">
									<img th:if="${post.thumbnail!=''}" th:src="${post.thumbnail}" th:alt="${post.title}" class="blog_list_teaser_image">
									<div class="blog_list_teaser">
										<h2 class="blog_list_teaser_title uk-text-truncate" th:text="${post.title}">title</h2>
										<p th:text="${post.summary}"></p>
										<span class="uk-text-muted uk-text-small" th:text="${#dates.format(post.publishedDate, 'yyyy-MM-dd HH:mm:ss')}">18.06.2016</span>
									</div>
									<div class="blog_list_footer">
										<div class="blog_list_footer_info">
											<span class="uk-margin-right"><i class="material-icons">&#xE87D;</i> <small th:text="${post.collectCount}">25</small></span> <span><i
												class="material-icons">&#xE0B9;</i> <small  th:text="${post.commentCount}">183</small></span>
										</div>
										<a th:href="@{/p/}+${post.id}" class="md-btn md-btn-small md-btn-flat md-btn-flat-primary uk-float-right"> 查 看 </a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div th:replace="/layout/right :: main"></div>
			</div>
		</div>
	</div>

	<div th:replace="/layout/footer :: main"></div>

	<script type="text/javascript" th:inline="javascript">
		var base = /*[[${#httpServletRequest.getContextPath()}]]*/"";
	</script>

	<!-- common functions -->
	<script th:src="@{/assets/uikit/js/common.min.js}"></script>
	<!-- uikit functions -->
	<script th:src="@{/assets/uikit/js/uikit_custom.min.js}"></script>
	<!-- altair common functions/helpers -->
	<script th:src="@{/assets/uikit/js/altair_admin_common.min.js}"></script>

	<script>
		$(function() {
			if (Modernizr.touch) {
				// fastClick (touch devices)
				FastClick.attach(document.body);
			}
		});
		$window.load(function() {
			// ie fixes
			altair_helpers.ie_fix();

		});
	</script>
</body>
</html>
