<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

	<div class="uk-width-medium-1-4" th:fragment="main">
		<h5 class="uk-margin-small-bottom uk-text-upper">最新提交</h5>
		<ul class="md-list uk-margin-remove">
			<li th:each="post:${recentPosts}">
				<div class="md-list-content">
					<span class="md-list-heading uk-text-truncate"> <a th:href="@{/p/}+${post.id}" th:text="${post.title}">title</a></span>
					<span class="uk-text-small uk-text-muted" th:text="${#dates.format(post.publishedDate, 'yyyy-MM-dd HH:mm:ss')}">date</span>
				</div>
			</li>
		</ul>
		<h5 class="uk-margin-small-bottom uk-text-upper  uk-margin-large">标签</h5>
		<div class="blog_tags">
			<a href="javascript:;" class="uk-badge" th:each="tag:${tags}" th:text="${tag.name}">tag name</a>
		</div>
		<h5 class="uk-margin-small-bottom uk-text-upper uk-margin-large">作者排名</h5>
		<ul class="md-list md-list-addon uk-margin-remove">
			<li th:each="author:${authors}">
				<div class="md-list-addon-element">
					<img class="md-user-image md-list-addon-avatar" th:src="${author.avatar}" />
				</div>
				<div class="md-list-content">
					<span class="md-list-heading" th:text="${author.name}">name</span> <span class="uk-text-small uk-text-muted">
						<span class="uk-margin-small-right"><i class="material-icons md-color-red-600">&#xE87D;</i> <small
							th:text="${author.followCount}">30</small></span> <span><i class="material-icons">&#xE0B9;</i> <small
							th:text="${author.followCount}">284</small></span>
					</span>
				</div>
			</li>
		</ul>
		<h5 class="uk-margin-small-bottom uk-text-upper uk-margin-large">分类</h5>
		<ul class="md-list uk-margin-remove">
			<li th:each="category:${categories}">
				<div class="md-list-content">
					<span class="md-list-heading"> <a href="javascript:;" th:text="${category.name}">catgory</a>
					</span> <span class="uk-text-small uk-text-muted" th:text="${category.articleCount} + ' 文章数'"></span>
				</div>
			</li>
		</ul>
	</div>

</body>
</html>